<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-xs-12 ml-3 mr-3">
            <p class="h1 mt-5 mb-5"> My Portfolio </p>
    
            <ng-container *ngIf='myStocks.length > 0 else empty'>
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-4">
                        <mat-spinner *ngIf='spinnerSpin'> </mat-spinner>
                    </div>
                </div>
                <div class="container-fluid" [hidden]='this.noOfChildrenLoaded < myStocks.length'>
                        <app-my-stock  *ngFor="let myStock of myStocks" [ticker]='myStock'
                        (finishedLoading)='countFinishedLoadingChildren()'
                        (updateMyStocks)='updateMyStocks()'> </app-my-stock>    
                </div>
            </ng-container>

            <ng-template #empty>
                <div class="row card alert alert-warning text-center">
                    Currently you don't have any stock.
                </div>
            </ng-template>
        </div>    
    </div>
</div>