<div class="container">
    <ngb-alert *ngIf='removedFromWatchlist' type="danger" (close)="removedFromWatchlist = ''"> {{ removedFromWatchlist }} </ngb-alert>
   
    <h1> My Watchlist</h1>
    <ng-container *ngIf="favoriteStocks.length > 0 else empty">
        <div *ngIf='spinnerSpin'>
            <mat-spinner> </mat-spinner>
        </div>
        <div [hidden]='this.noOfChildrenFinishedLoading < favoriteStocks.length'>
            <div class="row card" *ngFor="let favorite of favoriteStocks">
                <button type="button" class="close" aria-label="Close" (click)='changeRemovedFromWatchList(favorite)'>
                    <span aria-hidden="true">&times;</span>
                </button>
                <app-favorite-stock  [ticker]='favorite'
                                    (finishedLoading)='countFinishedLoadingEvents()'> </app-favorite-stock>
            </div>
        </div>    
    </ng-container>
    <ng-template #empty>
        <div class="row card">
            Currently you don't have any stock in your watchlist.
        </div>
    </ng-template>
</div>