<div class="container">
    <ngb-alert *ngIf='removedFromWatchlist' type="danger" (close)="removedFromWatchlist = ''"> {{ removedFromWatchlist }} </ngb-alert>
   
    <h1> My Watchlist</h1>
    <div *ngIf='!spinnerSpin'>
        <div class="row card" *ngFor="let favorite of favoriteStocks">
            <button type="button" class="close" aria-label="Close" (click)='changeRemovedFromWatchList(favorite)'>
                <span aria-hidden="true">&times;</span>
            </button>
            <app-favorite-stock  [ticker]='favorite'
                                (finishedLoading)='countFinishedLoadingEvents()'> </app-favorite-stock>
        </div>
    </div>
    <div *ngIf='spinnerSpin'>
        <mat-spinner> </mat-spinner>
    </div>    
</div>