<div>
    <div class="card-body" (click)="openNewsModal(newsModal)">
        <div class="row">
            <div class="col-3">
                <img src={{this.newsElement.urlToImage}}>
            </div>
            <div class="col-9">
                <p> {{ this.newsElement.title }} </p>
            </div>
        </div>
    </div>


    <ng-template #newsModal let-modal>
        
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{ this.newsElement.source.name }}</h4>
          <button type="button" class="close" (click)="modal.dismiss('Cross click')"> </button>
          <h5> {{ this.getFormattedDate(this.newsElement.publishedAt) }} </h5>
        </div>

        <div class="modal-body">
            <h6> {{ this.newsElement.title }}</h6>
            <p> {{ this.newsElement.description }} </p>
            <p> For more details, click <a href={{this.newsElement.url}}> here. </a></p>
        </div>

        <div class="card">
            <p> Share </p>
            
            <a href={{getTwitterHref()}}
                target="_blank"
                class="twitter-share-button" 
                  data-size="large" 
                    data-show-count="false"><i class="fab fa-twitter"></i></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="xn1slEdy"></script>
            <div class="fb-share-button" 
                  data-href="https://developers.facebook.com/docs/plugins/" 
                  data-layout="button" data-size="large">
                  
                  <a target="_blank" href={{getFacebookHref()}} 
                    class="fb-xfbml-parse-ignore"><i class="fab fa-facebook-square"></i></a></div>
            
                  

        </div>

    </ng-template>
</div>
