<div>
    <div role="button" class="card-body" (click)="openNewsModal(newsModal)">
        <div class="row">
            <div class="col-md-3">
                <img src={{this.newsElement.urlToImage}}>
            </div>
            <div class="col-md-9">
                <p> {{ this.newsElement.title }} </p>
            </div>
        </div>
    </div>


    <ng-template #newsModal let-modal>
        <div class="container m-0 p-0">
            <div class="modal-header w-100">
                <div class="container m-0 p-0">
                    <button type="button" class="close float-right m-0 p-0" (click)="modal.dismiss()"> <span aria-hidden="true">&times;</span>  </button>
                        <p class="modal-title h4 m-0" id="modal-basic-title">{{ this.newsElement.source.name }}</p>
                        <p class="h6 m-0"> {{ this.getFormattedDate(this.newsElement.publishedAt) }} </p>
                </div>
            </div>
    
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p class="h6 text-justify"> {{ this.newsElement.title }} </p>
                        <p> {{ this.newsElement.description }} </p>
                        <p class="text-muted"> For more details, click <a href={{this.newsElement.url}} target="_blank"> here. </a></p>
                </div>
                </div>
            </div>
    
            <div class="container mb-3">
                <div class="card">
                    <div class="card-body">
                        <p class="h6"> Share </p>
                    
                        <span class="h2"> 
                            <a href={{getTwitterHref()}}
                            target="_blank"
                            class="twitter-share-button" 
                            data-size="large"
                                data-show-count="false"><i class="fab fa-twitter"></i></a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </span>
                        <span class="h2 ml-3">
                            <div id="fb-root" style="display: inline-block;"></div>
                            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="xn1slEdy"></script>
                            <div class="fb-share-button" style="display: inline-block;"
                                data-href="https://developers.facebook.com/docs/plugins/" 
                                data-layout="button" data-size="large">
                                
                                <a target="_blank" href={{getFacebookHref()}} 
                                    class="fb-xfbml-parse-ignore"><i class="fab fa-facebook-square"></i></a>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
