<div class="container">
        <div class="row">
            <div class="col">
                <div *ngIf="this.companyDescription != undefined">
                    <span> {{ this.companyDescription.ticker }} </span> 
                    
                    <span (click)="this.toggleFavorite()">
                        
                        <svg *ngIf='!favorite' width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg" >
                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        
                        <svg *ngIf="favorite" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="yellow" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        
                    </span>
                    
                    <br> 
                    
                    <span> {{ this.companyDescription.name }} </span> <br>
                    <span> {{ this.companyDescription.exchangeCode }} </span> <br>
                    <app-buy-modal 
                        [companyDescription]='this.companyDescription'
                        [latestPrice]='this.latestPrice'> </app-buy-modal>
                </div>
            </div>
            <div class="col move-right">
                <div *ngIf='this.latestPrice != undefined'>
                    <span> {{ this.latestPrice.last }} </span> <br>
                    <span> {{ this.getPriceChange() }} ( {{ this.getPriceChangePercent() }}% )</span> <br>
                    <span> {{ this.getCurrentTimestamp() }} </span>
                </div>
            </div>
        </div>
    
        <div class="row">
            market is open or closed row. (check if it is a collapsible row)
        </div>
    
        <div class="row">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Summary">
                    <app-stock-summary [ticker]="this.ticker"> </app-stock-summary>
                </mat-tab>
                <mat-tab label="Top News">
                    <app-stock-news [ticker]="this.ticker"> </app-stock-news>
                </mat-tab>
                <mat-tab label="Charts">
                    <app-stock-charts> </app-stock-charts>
                </mat-tab>
            </mat-tab-group>
        </div>
</div>


