<app-nav-bar (tabClicked)="changeTab($event)"> </app-nav-bar>

<div *ngIf='shown === "SEARCH"'>
    <app-search (searchClicked)='changeTab("DETAILS", $event)'> </app-search>
</div>

<div *ngIf='shown === "DETAILS"'>
    <app-details [ticker]='ticker'> </app-details>
</div>

<div *ngIf="shown === 'WATCHLIST'">
    <app-watchlist [ticker]='ticker'> </app-watchlist>
</div>

<div *ngIf="shown === 'PORTFOLIO'">
    <p> portfolio component</p>
</div>

<app-footer> </app-footer>


<router-outlet></router-outlet>