nav {
    background-color: blueviolet;
    color: white;
    min-height: 60px;
}

li {
    border-radius: 0px;
    margin: 0px;
    padding-right: 3px;
    padding-left: 3px;
}

.active {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}