nav {
    background-color: blueviolet;
    color: white;
}

li {
    border-radius: 13px;
    margin: 5px;
    padding: 2px;
}

.active {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 15%;
}