<div class="row" [routerLink]="['../details', this.companyDescription.ticker]">
    <div class="col">
        <span> {{this.companyDescription.ticker }} </span> <br>
        <span> {{ this.companyDescription.name }} </span>
    </div>
    <div class="col" *ngIf="this.latestPrice.last - this.latestPrice.prevClose == 0">
        <span> {{ this.latestPrice.last }} </span> <br>
        <span> {{ this.getPriceChange() }} ( {{ this.getPriceChangePercent() }}% ) </span> <br>
    </div>
    <div id="red" class="col" *ngIf="this.latestPrice.last - this.latestPrice.prevClose < 0">
        <span> {{ this.latestPrice.last }} </span> <br>
        <span> {{ this.getPriceChange() }} ( {{ this.getPriceChangePercent() }}% ) </span> <br>
    </div>
    <div id="green" class="col" *ngIf="this.latestPrice.last - this.latestPrice.prevClose > 0">
        <span> {{ this.latestPrice.last }} </span> <br>
        <span> {{ this.getPriceChange() }} ( {{ this.getPriceChangePercent() }}% ) </span> <br>
    </div>
</div>
