
    <div class="row mt-2 mx-0">
        <div class="col-md-6">
            <div class="row" *ngIf="this.latestPrice != undefined">
                <div class="col m-3">
                    <table>
                        <tr> <td> High Price: </td> <td> {{ this.latestPrice.high }} </td> </tr>
                        <tr> <td> Low Price: </td> <td> {{ this.latestPrice.low }} </td> </tr>
                        <tr> <td> Open Price: </td> <td> {{ this.latestPrice.open }} </td> </tr>
                        <tr> <td> Prev. Close: </td> <td> {{ this.latestPrice.prevClose }}</td> </tr>
                        <tr> <td> Volume: </td> <td> {{ this.latestPrice.volume }} </td> </tr>
                    </table>
                </div>
                <div class="col m-3" *ngIf="this.latestPrice.bidPrice!= null">
                    <table>
                        <tr><td>Mid Price: </td> <td> <span *ngIf='latestPrice.mid'> {{ this.latestPrice.mid }} </span> 
                            <span *ngIf='latestPrice.mid == null'> - </span> </td></tr>
                        <tr><td>Ask Price:  </td> <td>  {{ this.latestPrice.askPrice }} </td></tr>
                        <tr><td>Ask Size:</td> <td> {{ this.latestPrice.askSize }}</td></tr>
                        <tr><td>Bid Price:  </td> <td>  {{ this.latestPrice.bidPrice }}</td></tr>
                        <tr><td>Bid Size: </td> <td> {{ this.latestPrice.bidSize }}</td></tr>
                    </table>
                </div>
            </div>
            <div *ngIf="this.companyDescription != undefined">
                <p class="h5 text-center"> Company's Description </p>
                <p> Start Date: {{ this.companyDescription.startDate }} </p>
                <p> {{ this.companyDescription.description }} </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mx-auto container">
                <highcharts-chart
                *ngIf="isHighcharts && this.charts_data != undefined"
                [Highcharts]="Highcharts"
                [constructorType]="chartConstructor"
                [options]="chartOptions"
                [(update)]='updateFlag'

                style="max-width: inherit; display: block;"

                > 
                </highcharts-chart>
            </div>
        </div>
    </div>  