<div class="container">
    <div class="row">
        <div class="col">
            <div class="row" *ngIf="this.latestPrice != undefined">
                <div class="col">
                    High Price: {{ this.latestPrice.high }} <br>
                    Low Price: {{ this.latestPrice.low }} <br>
                    Open Price: {{ this.latestPrice.open }} <br>
                    Prev. Close: {{ this.latestPrice.prevClose }} <br>
                    Volume: {{ this.latestPrice.volume }} <br>
                </div>
                <div class="col" *ngIf="this.latestPrice.bidPrice!= null">
                    Mid Price: <span *ngIf='latestPrice.mid'> {{ this.latestPrice.mid }} </span> 
                                <span *ngIf='latestPrice.mid == null'> - </span> <br>
                    Ask Price: {{ this.latestPrice.askPrice }} <br>
                    Ask Size: {{ this.latestPrice.askSize }} <br>
                    Bid Price: {{ this.latestPrice.bidPrice }} <br>
                    Bid Size: {{ this.latestPrice.bidSize }}
                </div>
            </div>
            <div class="row" *ngIf="this.companyDescription != undefined">
                <h3> Company's Description </h3> <br> <br>
                <p> Start Date: {{ this.companyDescription.startDate }} </p>
                <p> {{ this.companyDescription.description }} </p>
            </div>
        </div>
        <div class="col" *ngIf='this.charts_data != undefined'>
            Chart Data
            <highcharts-chart
                    *ngIf="isHighcharts"
                    [Highcharts]="Highcharts"
                    [constructorType]="chartConstructor"
                    [options]="chartOptions"
                    [(update)]='updateFlag'
                    > 
            </highcharts-chart>
        </div>
    </div>  
</div>