<div class="container">
    <div class="row"  *ngFor="let newsItem of this.news">
        <div class="col-md-6 mt-4">
          <div class="card w-100 h-100 bg-light m-0">
            <app-stock-news-element [newsElement]="newsItem[0]"> </app-stock-news-element>
          </div>
          
        </div>
        <div class="col-md-6 mt-4">
          <div class="card w-100 h-100 bg-light m-0">
            <app-stock-news-element [newsElement]="newsItem[1]"> </app-stock-news-element>
          </div>
        </div>
    </div>
</div>
