
.search-border {
    border-color: blueviolet;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    margin: 0;
    padding-left: 7px;
    padding-right: 7px;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.extra-large {
    font-weight: 900;
}