<div>
    <h1> STOCK SEARCH </h1>

    <form>
        <input type="text"
            matInput
            #searchField
            [matAutocomplete]="auto"
            (keyup)="onTyped(searchField.value)" />
        <button class="btn" (click)="onSearchClick('DETAILS')"> 
            <fa-icon [icon]="faSearch"> </fa-icon> 
        </button>
    </form>

    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of autoCompleteOptions" [value]="option">
          <span style="font-weight: bold;"> {{ option.ticker }} </span> | {{ option.name }}
        </mat-option>
    </mat-autocomplete>

</div>
