<div class="card">
    <div class="card-header">
        <a href="">
            <h4 class="card-title"> {{ this.companyDescription.ticker }} </h4>
            {{ this.companyDescription.name }}
        </a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        Quantity: <br>
                        Avg. Cost / Share: <br>
                        Total Cost: <br>
                    </div>
                    <div class="col">
                        {{ getQuantity() }} <br>
                        {{ getAvgCost() }} <br>
                        {{ getTotalCost() }} <br>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        Change: <br>
                        Current Price: <br>
                        Market Value: <br>
                    </div>
                    <div class="col">
                        {{ getAvgCost() - this.latestPrice.last }} <br>
                        {{ this.latestPrice.last }} <br>
                        {{ this.latestPrice.last*getQuantity() }} <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <app-buy-modal [companyDescription]='this.companyDescription' [latestPrice]='this.latestPrice'> </app-buy-modal>
        <app-sell-modal [latestPrice]='this.latestPrice' [ticker]='this.companyDescription.ticker.toLowerCase()'> </app-sell-modal>
    </div>
</div>
