<ng-template #buyModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ this.companyDescription.ticker }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-3">
                Current Price:
            </div>
            <div class="col-9">
                {{ getLastPrice() }}
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                Quantity:
            </div>
            <div class="col-9">
                <form>
                    <div class="form-group">
                    <div class="input-group">
                        <input type="number" id="quantity" class="form-control" placeholder="0" name="qty" #qty (input)="calcTotalAndEnableBuy(qty.value)">
                    </div>
                    </div>
                </form>  
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-9">
                    <span class="float-left" *ngIf="this.numberOfSharesModalValue != '' ">
                        Total: {{ (numberOfSharesModalValue*this.latestPrice.last).toFixed(2) }}
                    </span>
                </div>
                <div class="col-3 mr-0">
                    <button *ngIf="this.numberOfSharesModalValue == ''" type="button" class="btn btn-success float-right" (click)="addToPortfolio(qty.value)" disabled>Buy</button>
                    <button  *ngIf="this.numberOfSharesModalValue != ''" type="button" class="btn btn-success float-right" (click)="addToPortfolio(qty.value)" (click)='modal.close()'>Buy</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<button class="btn btn-success" *ngIf='this.comingFrom=="details"' (click)='this.openBuyModal(buyModal)'> Buy </button>
<button class="btn btn-primary" *ngIf='this.comingFrom=="portfolio"' (click)='this.openBuyModal(buyModal)'> Buy </button>
